body {
  max-width: 900px;
  margin: 0 auto;
  font-size: 2rem;
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 400;
  color: #444;
}

h1 {
  color: #F15C5C;
}

img {
  max-width: 100%;
  /* width: 100%; */
  height: auto;
  border: 1px solid #ddd;
}

/* img */

.loading {
  width: 100%;
  height: auto;
  border: 1px solid #ddd;
  /* background: url(http://kursjs.pl/images/zadanie-obrazki/ajax-loader.gif) center center no-repeat; */
  background: url(../img/25.gif) center center no-repeat;
  min-height: 400px;
}

.animclass {
  z-index: 100;
  position: relative;
  animation: movein 1s ease-in-out;
}

@keyframes movein {
  0% {
    top: 150px;
    opacity: 0;
  }

  100% {
    top: 0px;
    opacity: 1;
  }
}