// $primary-font: Helvetica,
// sans-serif;
// $primary-color: #333;


// $second-color:#3e5775;
// $prim-color:#2b3f58;
// $font-color:#eee;
// $font-color-dark:#222;


  // $grid-breakpoints: (
   $xs: 340px;
   $sm: 576px;
    $md: 768px;  
    // $lg: 992px;
    $lg: 1025px;
   // $ipad-pro:1024px,
    $xl: 1200px;
    $fhd: 1920px; 
  // );

  